# macOS
.DS_Store

# Android
.idea
.gradle
local.properties
*.iml
*.iws
*.ipr

# VSCode
.vscode/

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
*.xcworkspace

# Cocoapods
Pods/

# General
*.log

# JS
node_modules/
npm-debug.log
build
package-lock.json

# Fastlane
**/fastlane/report.xml
**/fastlane/test_output

# VS Code
.vscode
